

# Clinic Details
CLINIC_NAME="Dr. Kajal's Dental Clinic"
DOCTOR_NAME="Dr. Kajal"
CLINIC_PHONE="088306 87816"
CLINIC_PHONE_CALL="+918830687816"
WHATSAPP_NUMBER="918830687816"
CLINIC_ADDRESS="Ashish Garden, DP Rd, Sagar Colony, Guruganesh Nagar, Kothrud, Pune, Maharashtra 411038"


